<div class="stickersContainer">
  <div class="stickersLinks">
    <div class="imgBox">
      <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
    </div>
      <div class="imgBox">
      <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
      </div>
        <div class="imgBox">
      <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
        </div>
          <div class="imgBox">
      <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
          </div>
    </div>

  <div class="stickersStatic">
      <div class="imgBox">
        <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
      </div>
      <div class="imgBox">
        <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
      </div>
      <div class="imgBox">
        <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
      </div>
      <div class="imgBox">
        <img src="5da7dd652640792586a0cff6d2f59761.gif"/>
      </div>
    </div>
  </div>
