.mainContentContainer{
  display: flex;
  margin-top: 10pt;
  width: 100%;
}

.caixa > h2{
  font-size: 34pt;
  width: 80%;
}

.caixa > p {
  margin-top: 10pt;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.comment{
  color: #75b2ef;
  width: 100%;
}

.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: auto;
}
