.homeContainer{
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: space-around;
  gap: 10%;
  margin-top: 20pt;

}
.mainContent{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}
.asideLeft{
  display: flex;
  justify-content: space-around;
}
.asideRight{
  display: flex;
  justify-content: space-around;
}
.washiTapeRight, .washiTapeLeft{
  height: 100dvh;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

