*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #e6f6ff;
  font-size: 18pt;
}
body{
  background: url("../public/assets/patternpad-2025-08-07-23-32-17cropped.png");
  object-fit: fill;

}
